/* CSS Document */
*, *::after, *::before {
    box-sizing:border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.absolute {
    overflow: hidden !important;
}

/* HEADER */

header {
    height: 70px;
    width: 100%;
    background: #191919;
}

header div {
    width: 90%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 1000;
}


/* INSPIRATIE EN CODE VAN: https://codepen.io/designcouch/pen/Atyop */

#hamburgernav {
    width: 35px !important;
    position: relative;
    margin: 0;
    height: 28px;
}

#hamburgernav:hover {
    cursor: pointer;
}

#hamburgernav span {
    display: block;
    position: absolute;
    height: 4px;
    width: 50%;
    background: #fff;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

#hamburgernav span:nth-child(even) {
    left: 50%;
    border-radius: 0 9px 9px 0;
}

#hamburgernav span:nth-child(odd) {
    left:0px;
    border-radius: 9px 0 0 9px;
}

#hamburgernav span:nth-child(1), #hamburgernav span:nth-child(2) {
    top: 0px;
}

#hamburgernav span:nth-child(3), #hamburgernav span:nth-child(4) {
    top: 11px;
}

#hamburgernav span:nth-child(5), #hamburgernav span:nth-child(6) {
    top: 22px;
}

#hamburgernav.open span:nth-child(1),#hamburgernav.open span:nth-child(6) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#hamburgernav.open span:nth-child(2),#hamburgernav.open span:nth-child(5) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#hamburgernav.open span:nth-child(1) {
    left: 5px;
    top: 7px;
}

#hamburgernav.open span:nth-child(2) {
    left: calc(50% - 5px);
    top: 7px;
}

#hamburgernav.open span:nth-child(3) {
    left: -50%;
    opacity: 0;
}

#hamburgernav.open span:nth-child(4) {
    left: 100%;
    opacity: 0;
}

#hamburgernav.open span:nth-child(5) {
    left: 5px;
    top: 29px;
}

#hamburgernav.open span:nth-child(6) {
    left: calc(50% - 5px);
    top: 29px;
}

#hamburgernav.open span:nth-child(1),#hamburgernav.open span:nth-child(6) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

#hamburgernav.open span:nth-child(2),#hamburgernav.open span:nth-child(5) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

#hamburgernav.open span:nth-child(1) {
    left: 5px;
    top: 7px;
}

#hamburgernav.open span:nth-child(2) {
    left: calc(50% - 5px);
    top: 7px;
}

#hamburgernav.open span:nth-child(3) {
    left: -50%;
    opacity: 0;
}

#hamburgernav.open span:nth-child(4) {
    left: 100%;
    opacity: 0;
}

#hamburgernav.open span:nth-child(5) {
    left: 5px;
    top: 15px;
}

#hamburgernav.open span:nth-child(6) {
    left: calc(50% - 5px);
    top: 15px;
}

header a img:first-of-type {
    width: 100%;
    max-width: 170px;
}

.cart {
    width: 60px !important;
}

.desktopHeader {
    display: none;
}


.menu {
    height: 100vh !important;
    width: 100vw !important;
    background-color: #191919 !important;
    z-index: 1 !important;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-100vw);
    transition: transform .5s;
}

.menu nav {
    width: 80%;
    display: block;
    position: relative;
}

.menu nav ul {
    padding: 20px 0 50px 0;
    margin-left: 30px;
    margin-top: 50px;
}

.menu nav ul li {
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    list-style-type: none;
    font-weight: 600;
    letter-spacing: .1em;
}

.menu nav ul li+li {
    margin-top: 40px;
}

.toonMenu {
    transform: translateX(0);
}


/* SECTIE 1 */

section:first-of-type {
    background-color: #fff;
    width: 100%;
    height: 240px;
    padding: 20px 0;
}

section:first-of-type div {
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

section:first-of-type h2 {
    color: #242424;
    text-align: center;
    font-size: 22px;
    padding-top: 10px;
    line-height: 25px;
}

section:first-of-type p {
    color: #242424;
    padding-top: 15px;
    line-height: 22px;
    letter-spacing: normal;
    font-size: 16px;
    text-align: center;
}

section:first-of-type button {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    display: block;
    margin: 25px auto 0 auto;
    text-transform: uppercase;
    font-size: 18px;
    color: #000;
    background-color: #ffffff;
    border-radius: 25px;
    padding: 10px 35px;
    border: none;
    font-weight: 800;
}


/* SECTIE 2 */

section:nth-of-type(2) {
    height: 220px;
    width: 100%;
    background-image: url("../images/banner4.jpeg");
    background-repeat: no-repeat;
    background-size: auto 200px;
    background-position: 0;
}


/* SECTIE 3 */

section:nth-of-type(3) {
    height: auto;
    width: 100%;
    background-color: #ffffff;
    padding: 20px 0 0 0;
}

section:nth-of-type(3) div {
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

section:nth-of-type(3) h4 {
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 8px;
    text-transform: uppercase;
    padding: 20px 0;
    text-align: center;
}

section:nth-of-type(3) ul {
    padding: 20px 0 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

section:nth-of-type(3) ul li {
    max-width: 400px;
    display: block;
    /*margin: 0 auto;*/
    flex-grow: 1;
    padding-bottom: 20px;
    border-bottom: 1px solid #242424;
}

section:nth-of-type(3) ul li:last-of-type {
    border-bottom: none;
}

section:nth-of-type(3) ul li img {
    width: 80%;
    display: block;
    margin: 0 auto;
}

section:nth-of-type(3) ul li span {
    text-transform: uppercase;
    background-color: black;
    color: #f8f8f8;
    font-size: 10px;
    padding: 5px;
}

section:nth-of-type(3) ul li p {
    margin-top: 10px;
    font-size: 12px;
}

section:nth-of-type(3) ul li button {
    display: block;
    margin: 0 auto;
    width: 100%;
    border-radius: 25px;
    border: 2px solid #242424;
    padding: 10px 35px;
    text-transform: uppercase;
    font-weight: 800;
}

section:nth-of-type(3) ul li button:first-of-type {
    background-color: #ffffff;
    color: #000;
    margin-bottom: 15px;
    margin-top: 30px;
}

section:nth-of-type(3) ul li button:last-of-type {
    background-color: #000000;
    color: #ffffff;
    border: 2px solid #242424;
    margin-bottom: 20px;
}


/* SECTIE 4 */

section:nth-of-type(4) {
    background-color: #242424;
    width: 100%;
    height: 240px;
    padding: 20px 0;
}

section:nth-of-type(4) div {
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

section:nth-of-type(4) h2 {
    color: #ffffff;
    text-align: center;
    font-size: 22px;
    padding-top: 10px;
    line-height: 25px;
}

section:nth-of-type(4) p {
    color: #ffffff;
    text-transform: uppercase;
    padding-top: 15px;
    line-height: 22px;
    letter-spacing: 3px;
    font-size: 12px;
    text-align: center;
}

section:nth-of-type(4) button {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    display: block;
    margin: 25px auto 0 auto;
    text-transform: uppercase;
    font-size: 18px;
    color: #000;
    background-color: #ffffff;
    border-radius: 25px;
    padding: 10px 35px;
    border: none;
    font-weight: 800;
}


/* SECTIE 5 */

section:nth-of-type(5) {
    height: 180px;
    width: 100%;
    background-image: url("../images/banner2.jpeg");
    background-repeat: no-repeat;
    background-size: auto 300px;
    background-position: 0;
}


/* SECTIE 6 */

section:nth-of-type(6) {
    background-color: #242424;
    width: 100%;
    height: 240px;
    padding: 20px 0;
}

section:nth-of-type(6) div {
    width: 90%;
    height: 100%;
    margin: 0 auto;
}

section:nth-of-type(6) h2 {
    color: #ffffff;
    text-align: center;
    font-size: 22px;
    padding-top: 10px;
    line-height: 25px;
}

section:nth-of-type(6) p {
    color: #ffffff;
    text-transform: uppercase;
    padding-top: 15px;
    line-height: 22px;
    letter-spacing: 3px;
    font-size: 12px;
    text-align: center;
}

section:nth-of-type(6) button {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    display: block;
    margin: 25px auto 0 auto;
    text-transform: uppercase;
    font-size: 18px;
    color: #000;
    background-color: #ffffff;
    border-radius: 25px;
    padding: 10px 35px;
    border: none;
    font-weight: 800;
}

/* SECTIE 7 */

section:nth-of-type(7) {
    height: 200px;
    width: 100%;
    background-image: url("../images/banner1.jpeg");
    background-repeat: no-repeat;
    background-size: auto 300px;
    background-position: right;
}


/* FOOTER */

footer {
    background-color: #0d0d0d;
}

footer p:first-of-type {
    padding-top: 5px;
    color: gray;
    font-size: 12px;
    line-height: 30px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: .1em;
    width: 90%;
    display: block;
    margin: 0 auto;
}

footer div {
    width: 90%;
    height: auto;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer ul li:hover {
    cursor: pointer;
}

footer ul:first-of-type {
    padding: 20px 0 50px 0;
}

footer ul:first-of-type li {
    color: #ffffff;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    list-style-type: none;
    font-weight: 600;
    letter-spacing: .1em;
}

footer ul:first-of-type li + li {
    margin-top: 20px;
}

footer ul:nth-of-type(2) {
    padding: 20px 0 50px 0;
}

footer ul:nth-of-type(2) li {
    color: #8c8c8c;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    list-style-type: none;
    font-weight: 500;
    letter-spacing: .1em;

}

footer ul:nth-of-type(2) li:first-of-type {
    flex-grow: 1;
    margin-bottom: 20px;
}

footer ul:nth-of-type(2) li + li {
    margin-top: 20px;
}

footer ul:nth-of-type(3) {
    padding: 20px 0 50px 0;
}

footer ul:nth-of-type(3) li {
    color: #8c8c8c;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    list-style-type: none;
    font-weight: 500;
    letter-spacing: .1em;
}

footer ul:nth-of-type(3) li + li {
    margin-top: 20px;
}






/* MEDIA QUERIES */

@media only screen and (min-width: 1400px) {
    header {
        height: 130px;
    }

    header img:nth-of-type(2) {
        width: 150px;
    }

    .mobieleHeader {
        display: none;
    }

    .desktopHeader {
        display: flex;
        position: relative;
        margin: 0 auto;
        height: 100%;
        align-items: center;
        justify-content: space-between;
    }

    .desktopHeader a img {
        width: 150px;
    }

    .desktopHeader .cart {
        width: 60px;
        margin-top: -40px;
    }

    .desktopHeader ul {
        width: 100%;
        position: absolute;
        bottom: 0;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-bottom: 20px;
    }

    .desktopHeader ul li {
        margin-left: 50px;
        color: #ffffff;
        text-transform: uppercase;
        font-family: 'Montserrat', sans-serif;
        font-size: .8em;
        list-style-type: none;
        font-weight: 600;
        letter-spacing: .1em;
    }

    .desktopHeader ul li:hover {
        cursor: pointer;
    }

    .menu {
        display: none;
    }
}

@media only screen and (min-width: 772px) {


    /* HEADER */

    header nav, section div, footer div {
        width: 70% !important;
    }



    /* SECTIE 1 */

    section:first-of-type {
        height: 500px;
        width: 100%;
        background-image: url("../images/banner4.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;
    }

    section:first-of-type div {
        height: auto;
    }

    section:first-of-type h2 {
        color: #ffffff;
        text-align: right;
        font-size: 32px;
        padding-top: 10px;
        line-height: 40px;
    }

    section:first-of-type p {
        color: #ffffff;
        text-transform: uppercase;
        padding-top: 24px;
        line-height: 22px;
        letter-spacing: 3px;
        font-size: 20px;
        text-align: right;
    }

    section:first-of-type button {
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        display: block;
        margin: 25px 0 0 0;
        text-transform: uppercase;
        font-size: 18px;
        color: #000;
        background-color: #ffffff;
        border-radius: 25px;
        padding: 10px 35px;
        border: none;
        font-weight: 800;
        float: right;
        transition: .3s;
    }

    section:first-of-type button:hover {
        background-color: #000;
        color: #fff;
        cursor: pointer;
    }

    /* SECTIE 2 */

    section:nth-of-type(2) {
        display: none;
    }


    /* SECTIE 3 */

    section:nth-of-type(3) ul {
        justify-content: center;
    }

    section:nth-of-type(3) ul li {
        max-width: 45%;
    }

    section:nth-of-type(3) ul li:nth-of-type(3) {
        border-bottom: none;
    }

    section:nth-of-type(3) ul li:nth-of-type(even) {
        margin-left: 10px;
    }

    section:nth-of-type(3) ul li:nth-of-type(odd) {
        margin-right: 10px;
    }

    section:nth-of-type(3) ul li button {
        max-width: 300px;
        transition: .3s;
    }

    section:nth-of-type(3) ul li button:first-of-type:hover {
        background-color: #000;
        color: #fff;
        cursor: pointer;
    }

    section:nth-of-type(3) ul li button:nth-of-type(2):hover {
        background-color: #fff;
        color: #000;
        cursor: pointer;
    }


    /* SECTIE 4 */

    section:nth-of-type(4) {
        height: 500px;
        width: 100%;
        background-image: url("../images/banner2.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        align-items: center;
    }

    section:nth-of-type(4) div {
        height: auto;
    }

    section:nth-of-type(4) h2 {
        color: #000;
        text-align: right;
        font-size: 32px;
        padding-top: 10px;
        line-height: 40px;
        text-shadow: 0 0 5px rgba(255, 255, 255, 0.2);
    }

    section:nth-of-type(4) p {
        color: #000;
        text-transform: uppercase;
        padding-top: 24px;
        line-height: 22px;
        letter-spacing: 3px;
        font-size: 20px;
        text-align: right;
        text-shadow: 0 0 5px rgba(255, 255, 255, 0.2);
    }

    section:nth-of-type(4) button {
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        display: block;
        margin: 25px 0 0 0;
        text-transform: uppercase;
        font-size: 18px;
        color: #ffffff;
        background-color: #000;
        border-radius: 25px;
        padding: 10px 35px;
        font-weight: 800;
        float: right;
        transition: .3s;
        border: 2px solid transparent;
    }

    section:nth-of-type(4) button:hover {
        color: #000;
        background-color: #fff;
        cursor: pointer;
        border: 2px solid #000;
    }

    /* SECTIE 5 */

    section:nth-of-type(5) {
        display: none;
    }

    /* SECTIE 6 */

    section:nth-of-type(6) {
        height: 500px;
        width: 100%;
        background-image: url("../images/banner1.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right;
        display: flex;
        align-items: center;
    }

    section:nth-of-type(6) div {
        height: auto;
    }

    section:nth-of-type(6) h2 {
        color: #fff;
        text-align: left;
        font-size: 32px;
        padding-top: 10px;
        line-height: 40px;
        text-shadow: 0 0 5px rgba(255, 255, 255, 0.2);
    }

    section:nth-of-type(6) p {
        color: #fff;
        text-transform: uppercase;
        padding-top: 24px;
        line-height: 22px;
        letter-spacing: 3px;
        font-size: 20px;
        text-align: left;
        text-shadow: 0 0 5px rgba(255, 255, 255, 0.2);
    }

    section:nth-of-type(6) button {
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        display: block;
        margin: 25px 0 0 0;
        text-transform: uppercase;
        font-size: 18px;
        color: #000;
        background-color: #fff;
        border-radius: 25px;
        padding: 10px 35px;
        border: none;
        font-weight: 800;
        transition: .3s;
    }

    section:nth-of-type(6) button:hover {
        color: #fff;
        background-color: #000;
        cursor: pointer;
    }


    /* SECTIE 7 */

    section:nth-of-type(7) {
        display: none;
    }

    /* FOOTER */

    footer p {
        width: 70% !important;
    }

}

@media only screen and (max-height: 450px) {
    .menu nav ul li+li {
        margin-top: 20px;
    }
}












